<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

</head>
<body>
<h1>This is about Page.</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aliquam aliquid asperiores aspernatur beatae delectus dolor dolorum ea earum est ex fuga fugit hic illo ipsa ipsam, minus modi mollitia nihil nulla numquam perspiciatis praesentium quas, quia repudiandae, sapiente sed sequi sit soluta sunt ut vel voluptatem? Unde, ut.</p>
</body>
</html>